<form class="card" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="card-header">
        <h4 class="card-title mb-0">Ajouter un restaurant</h4>
        
    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                <label class="form-label">Nom <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="nom" placeholder="Nom">
                <div *ngIf="formData.get('nom')?.touched && formData.get('nom')?.invalid" class="text-danger">
                    Le nom est invalide
                </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                <label class="form-label">Adresse <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="adresse" placeholder="Adresse">
                <div *ngIf="formData.get('adresse')?.touched && formData.get('adresse')?.invalid" class="text-danger">
                    L'adresse est invalide
                </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                <label class="form-label">ville <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="ville" placeholder="Ville">
                <div *ngIf="formData.get('ville')?.touched && formData.get('ville')?.invalid" class="text-danger">
                    La ville est invalide
                </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                <label class="form-label">Coordonnées google maps </label>
                <input class="form-control" type="text" formControlName="coordonnees_google_maps" placeholder="Coordonnées google maps">
                <div *ngIf="formData.get('coordonnees_google_maps')?.touched && formData.get('coordonnees_google_maps')?.invalid" class="text-danger">
                    Coordonnées google maps invalides
                </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <label class="form-label">Horaires <span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-6 col-md-6">
                <ng-select [items]="heures_deb" bindLabel="label" bindValue="label" [multiple]="false"
                    placeholder="choisir une heure" formControlName="heure_debut"  />
                    <div *ngIf="formData.get('heure_debut')?.touched && formData.get('heure_debut')?.invalid" class="text-danger">
                    L'heure est invalide
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <ng-select [items]="heures_fin" bindLabel="label" bindValue="label" [multiple]="false"
                    placeholder="choisir une heure" formControlName="heure_fin"  />
                    <div *ngIf="formData.get('heure_fin')?.touched && formData.get('heure_fin')?.invalid" class="text-danger">
                    L'heure est invalide
                </div>
            </div>
            
                

            <div class="col-sm-12 col-md-12">
                <label class="form-label">Horaires click and collect</label>
            </div>
            <div class="col-sm-6 col-md-6">
                <ng-select [items]="heures_cc_deb" bindLabel="label" bindValue="label" [multiple]="false"
                    placeholder="choisir une heure" formControlName="heure_cc_debut"  />
                <div *ngIf="formData.get('heures_cc_deb')?.touched && formData.get('heures_cc_deb')?.invalid" class="text-danger">
                    L'heure est invalide
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <ng-select [items]="heures_cc_fin" bindLabel="label" bindValue="label" [multiple]="false"
                    placeholder="choisir une heure" formControlName="heure_cc_fin"  />
                <div *ngIf="formData.get('heures_cc_fin')?.touched && formData.get('heures_cc_fin')?.invalid" class="text-danger">
                    L'heure est invalide
                </div>
            </div>
                
                
               
               
            

            <div class="col-md-12">
                <div class="mb-3">
                <label class="form-label">Téléphone</label>
                <input class="form-control" formControlName="telephone" placeholder="91-(999)-999-999" type="tel" >
                <div *ngIf="formData.get('telephone')?.touched && formData.get('telephone')?.invalid" class="text-danger">
                    Le champ est invalide
                </div>
                </div>
            </div>

             <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                <label class="form-label">Société <span class="text-danger">*</span></label>
                <ng-select [items]="societes" bindLabel="titre" bindValue="id" [multiple]="false" placeholder="choisir une société"
                    formControlName="societe_id" />
                <div *ngIf="formData.get('societe_id')?.touched && formData.get('societe_id')?.invalid" class="text-danger">
                    La société est requise
                </div>
                </div>
            </div>

             <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                <label class="form-label">Gestionnaire <span class="text-danger">*</span></label>
                <ng-select [items]="gestionnaires" bindLabel="fullName" bindValue="id" [multiple]="false" placeholder="choisir un gestionnaire"
                    formControlName="utilisateur_id" />
                <div *ngIf="formData.get('utilisateur_id')?.touched && formData.get('utilisateur_id')?.invalid" class="text-danger">
                    Le gestionnaire est requis
                </div>
                </div>
            </div>


            

        </div>
    </div>

    <div class="card-footer text-end">
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>
</form>


