<div class="card custom-table-striped">
  <form class="table-responsive theme-scroollbar">
    <div class="card-body">
      
      <div class="dataTables_wrapper">
        <div class="d-flex justify-content-between p-2">


          
          <div class="dataTables_length" id="basic-6_length">
            <label
              >Show
              <select name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
                <option [ngValue]="150">150</option>
                <option [ngValue]="200">200</option>
                <option [ngValue]="300">300</option>
              </select>
              entries
            </label>
          </div>
          
  
          
          <div class="mb-3 row">
            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label"
              >Search:</label
            >
            <div class="col-xs-3 col-sm-auto">
              <input
                id="table-complete-search"
                type="text"
                class="form-control"
                name="searchTerm"
                [(ngModel)]="service.searchTerm"
                 (ngModelChange)="onSearchTermChange($event)"
                autocomplete="off"
              />
            </div>
            @if(service.loading$ | async){
            <span class="col col-form-label">Loading...</span>
            }
          </div>
        </div>

           <div class="col-xs-3 mb-3 col-sm-auto">
               <ng-select [items]="types" bindLabel="name" bindValue="key" [multiple]="true"
                    placeholder="catégories" name="filter_params"  [(ngModel)]="filter_params"
                 (ngModelChange)="onSearchTermChange2($event)" />
              
            </div>


        <table class="display table table-striped table-hover table-light">
          <thead>
            <tr>
              <th scope="col" sortable="id" (sort)="onSort($event)">ID</th>
              
              <th scope="col" *ngIf="current_priority==1" sortable="societe_id" (sort)="onSort($event)">Société</th>
              <th scope="col" *ngIf="current_priority==1" sortable="restaurant_id" (sort)="onSort($event)">Restaurant</th>
              <th scope="col" sortable="getTypeNameFromkey" (sort)="onSort($event)">Catégorie</th>
              <th scope="col" sortable="type_de_valeur" (sort)="onSort($event)">Type</th>
              <th scope="col" sortable="valeur" (sort)="onSort($event)">Valeur</th>
              <th scope="col" sortable="updated_at" (sort)="onSort($event)">Date de mise à jour</th>
              <th scope="col" sortable="est_actif" (sort)="onSort($event)">Actif ?</th>
              <th scope="col" *ngIf="current_priority==1" sortable="est_important" (sort)="onSort($event)">Important ?</th>
              
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            @for(data of tableData$ | async; track data; let i = $index){
            <tr>
              
              <td>
                <ngb-highlight [result]="data.id" [term]="service.searchTerm" />
              </td>
              <td *ngIf="current_priority==1">
                <ngb-highlight [result]="data.Societe?.titre" [term]="service.searchTerm" />
              </td>
              <td *ngIf="current_priority==1">
                <ngb-highlight [result]="data.Restaurant?.nom" [term]="service.searchTerm" />
              </td>
               <td>
                <ngb-highlight [result]="getTypeNameFromkey(data.type)" [term]="service.searchTerm" />
              </td>
               <td>
                <ngb-highlight [result]="(data.type_de_valeur)" [term]="service.searchTerm" />
              </td>
              <td style="max-width: 300px;">
                
                <ngb-highlight [result]="get_valeur(data)" [term]="service.searchTerm" />
              </td>
               <td>
                <ngb-highlight [result]="(data.updated_at | date:'dd/MM/yyyy HH:mm')" [term]="service.searchTerm" />
              </td>
              <td>
                <div [innerHTML]="getStatus(data.est_actif)"></div>
              </td>
              <td *ngIf="current_priority==1">
                <div [innerHTML]="getStatus(data.est_important)"></div>
              </td>
              
              <td>
                <ul class="action">
                  <a style="cursor: pointer;" (click)="modifier_data(data.id)"><i class="fa fa-pen font-primary pe-2" ></i></a>
                  <a style="cursor: pointer;" (click)="supprimer_data(data.id)"><i class="fa fa-trash font-danger ps-2" ></i></a>
                </ul>
              </td>
            </tr>
            } @empty{
            <tr class="odd">
              <td colspan="8" class="dataTables_empty" style="text-align: center; font-size: 18px">
                No records found
              </td>
            </tr>
            }
          </tbody>
        </table>
        
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            class="ms-3"
            [collectionSize]="( total$ | async)!"
            [(page)]="service.page"
            [pageSize]="service.pageSize"
          />
        </div>
        
        
        
      </div>
    </div>
  </form>

  @if (current_priority <= 3) {
  
    <div class="add-task-btn-wrapper" >
        <span class="add-task-btn" >
            <button class="btn btn-primary" (click)="redirect_add()">
            <i class="icon-plus"></i> Ajouter un paramètre</button>
        </span>
    </div>
  }
  
</div>
