<form class="card" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="card-header">
        <h4 class="card-title mb-0">Modifier un paramètre</h4>
        
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                <label class="form-label">Titre <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="titre" placeholder="titre">
                <div *ngIf="formData.get('titre')?.touched && formData.get('titre')?.invalid" class="text-danger">
                    Le titre est invalide
                </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <label class="form-label">Type de paramètre <span class="text-danger">*</span></label>
            
                <ng-select [items]="types" bindLabel="name" bindValue="key" [multiple]="false"
                    placeholder="choisir une catégorie de paramètre" formControlName="type"  />
                    <div *ngIf="formData.get('type')?.touched && formData.get('type')?.invalid" class="text-danger">
                    Le type de paramètre est invalide
                </div>
            </div>

            <!-- IMAGE -->
            <div *ngIf="formData.get('type')?.value === 'logo'" class="col-md-12">
                <label class="form-label">Image</label>
                <div class="input-group">
                    <input (change)="onFileSelected($event)" class="form-control" type="file">
                </div>
            </div>

            <!-- TEXTE -->
            <div *ngIf="formData.get('type')?.value !== 'logo'" class="col-md-12">
                <div class="mb-3">
                    <label class="form-label">Valeur <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="valeur" placeholder="valeur">

                    <div *ngIf="formData.get('valeur')?.touched && formData.get('valeur')?.invalid" class="text-danger">
                    La valeur est invalide
                    </div>
                </div>
            </div>

            

            <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <angular-editor [placeholder]="'Enter text here...'" formControlName="description"  />
                </div>
            </div>


            <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                    <label class="form-label">Actif ? <span class="text-danger">*</span></label>
                    <div>
                         <label class="switch">
                        <input type="checkbox" formControlName="est_actif">
                        <span class="switch-state"></span>
                    </label>
                    </div>
                </div>
            </div>

            

        </div>
    </div>

    <div class="card-footer text-end">
        <button class="btn btn-primary" type="submit">modifier</button>
    </div>
</form>