<form class="card" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="card-header">
        <h4 class="card-title mb-0">Modifier un paramètre</h4>
        
    </div>

    <div class="card-body">
        <div class="row">
           

           <div class="col-sm-12 col-md-12">
                <label class="form-label">Catégorie de paramètre <span class="text-danger">*</span></label>
            
                <ng-select [items]="types" bindLabel="name" bindValue="key" [multiple]="false"
                    placeholder="choisir une catégorie de paramètre" formControlName="type"  />
                    <div *ngIf="formData.get('type')?.touched && formData.get('type')?.invalid" class="text-danger">
                    La catégorie de paramètre est invalide
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <label class="form-label">Type de valeur <span class="text-danger">*</span></label>
            
                <ng-select [items]="types_de_valeur" bindLabel="name" bindValue="key" [multiple]="false"
                    placeholder="choisir un type de valeur" formControlName="type_de_valeur"  />
                    <div *ngIf="formData.get('type_de_valeur')?.touched && formData.get('type_de_valeur')?.invalid" class="text-danger">
                    Le type de valeur est invalide
                </div>
            </div>

            <div class="col-sm-12 col-md-12" *ngIf="!hide_unite">
                <label class="form-label">Unité de temps <span class="text-danger">*</span></label>
            
                <ng-select [items]="unites_de_temps" bindLabel="name" bindValue="key" [multiple]="false"
                    placeholder="choisir une unité de temps" formControlName="unite_de_temps"/>
                    <div *ngIf="formData.get('unite_de_temps')?.touched && formData.get('unite_de_temps')?.invalid" class="text-danger">
                    L'unité de temps est invalide
                </div>
            </div>

          <div class="col-sm-12 col-md-12" *ngIf="!hide_contact">
                <label class="form-label">Moyen de contact <span class="text-danger">*</span></label>
            
                <ng-select [items]="options_moyens_contact" bindLabel="name" bindValue="key" [multiple]="false"
                    placeholder="choisir une catégorie de paramètre" formControlName="valeurs_options"  />
                    <div *ngIf="formData.get('valeurs_options')?.touched && formData.get('valeurs_options')?.invalid" class="text-danger">
                    moyen de contact invalide
                </div>
            </div>

            <!-- TEXTE -->
            <div *ngIf="!hide_value" class="col-md-12">
                <div class="mb-3">
                    <label class="form-label">Valeur <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="valeur" placeholder="valeur">

                    <div *ngIf="formData.get('valeur')?.touched && formData.get('valeur')?.invalid" class="text-danger">
                    La valeur est invalide
                    </div>
                </div>
            </div>

            

            <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <angular-editor [placeholder]="'Enter text here...'" formControlName="description"  />
                </div>
            </div>


            <div class="col-sm-12 col-md-12" *ngIf="is_status || prioriteRoleUser<=3">
                <div class="mb-3">
                    <label class="form-label">Actif ? <span class="text-danger">*</span></label>
                    <div>
                         <label class="switch">
                        <input type="checkbox" formControlName="est_actif">
                        <span class="switch-state"></span>
                    </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12" *ngIf="prioriteRoleUser<=3">
                <div class="mb-3">
                    <label class="form-label">Important ? <span class="text-danger">*</span></label>
                    <div>
                         <label class="switch">
                        <input type="checkbox" formControlName="est_important">
                        <span class="switch-state"></span>
                    </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12" *ngIf="prioriteRoleUser<=3">
                <label class="form-label">Société <span class="text-danger">*</span></label>
            
                <ng-select [items]="societes" bindLabel="titre" bindValue="id" [multiple]="false"
                    placeholder="choisir une société" formControlName="societe_id"  />
                    <div *ngIf="formData.get('societe_id')?.touched && formData.get('societe_id')?.invalid" class="text-danger">
                    La sociéte est invalide
                </div>
            </div>

            <div class="col-sm-12 col-md-12" *ngIf="prioriteRoleUser<=3">
                <label class="form-label">Restaurant <span class="text-danger">*</span></label>
            
                <ng-select [items]="restaurants" bindLabel="nom" bindValue="id" [multiple]="false"
                    placeholder="choisir un restaurant" formControlName="restaurant_id"  />
                    <div *ngIf="formData.get('restaurant_id')?.touched && formData.get('restaurant_id')?.invalid" class="text-danger">
                    Le restaurant est invalide
                </div>
            </div>

            

        </div>
    </div>

    <div class="card-footer text-end">
        <button class="btn btn-primary" type="submit">modifier</button>
    </div>
</form>