<div class="page-wrapper">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-card login-dark">
                    <div>
                        <div>
                            <a class="logo" [routerLink]="['/dashboard/default']">
                                <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="looginpage">
                                <img class="for-dark" src="assets/images/logo/dark-logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="login-main">
                            <form class="theme-form">
                                <h2>Recupération de mot de passe</h2>
                                <div class="form-group" >
                                    
                                    <div class="row">
                                         <div class="form-group">
                                            <label class="col-form-label">Adresse e-mail</label>
                                            <input class="form-control" type="email" required="" name="email" placeholder="Test@gmail.com" [(ngModel)]="email">
                                        </div>
                                        <div class="col-12" *ngIf="!can_enter_new_password">
                                            <div class="text-end">
                                                <button class="btn btn-primary btn-block m-t-10"
                                                    type="button" (click)="get_code()">Envoyer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group" *ngIf="!can_enter_new_password && can_check_code">
                                    <label class="col-form-label pt-0">Entrez le code de validation</label>
                                    <div class="row">
                                        <div class="col">
                                            <input class="form-control text-center opt-text" type="text"
                                                maxlength="2" name="part1" [(ngModel)]="part1">
                                        </div>
                                        <div class="col">
                                            <input class="form-control text-center opt-text" type="text" 
                                                maxlength="2" name="part2" [(ngModel)]="part2">
                                        </div>
                                        <div class="col">
                                            <input class="form-control text-center opt-text" type="text" 
                                                maxlength="2" name="part3" [(ngModel)]="part3">
                                        </div>
                                        <div class="col-12">
                                            <div class="text-end">
                                                <button class="btn btn-primary btn-block m-t-10"
                                                    type="button" (click)="check_code()">Valider</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="can_enter_new_password">
                                    <h6 class="mt-4 f-w-700">Récupération</h6>
                                    <div class="form-group">
                                        <label class="col-form-label">Nouveau mot de passe</label>
                                        <div class="form-input position-relative">
                                            <input class="form-control" type="password"  [(ngModel)]="new_password"
                                                name="password" required="" placeholder="*********"
                                                [type]="show ? 'text' : 'password'">
                                            @if(!show){
                                            <div class="show-hide" (click)="showPassword()"><span class="show"> </span>
                                            </div>
                                            }@else{
                                            <div class="show-hide" (click)="showPassword()"><span class="Hide"></span></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Confirmation du mot de passe</label>
                                        <input class="form-control" [(ngModel)]="confirmed_new_password" type="password" 
                                            name="password" required="" placeholder="*********">
                                        <div *ngIf="!checkpasswords()" class="text-danger">
                                            Formulaire invalide
                                        </div>
                                    </div>
                                    
                                    <div class="form-group mb-0">
                                        
                                        <button [disabled]="!checkpasswords()" class="btn btn-primary btn-block w-100 mt-3" type="button" (click)="change_password()">Envoyer </button>
                                    </div>
                                </div>
                                
                                <p class="mt-4 mb-0 text-center">Vous avez déja un compte ?<a class="ms-2"
                                    [routerLink]="['/auth/login']">Connectez-vous</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>