<div class="card hovercard text-center">
    <div class="cardheader"></div>
    <div class="user-image">
      <div class="avatar"><img alt="" src="assets/images/avatar/1.jpg"></div>
      <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></div>
    </div>
    <div class="info">
      <div class="row">
        <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
          <div class="row">
            <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
              <div class="ttl-info text-start">
                <h6><i class="fa-solid fa-envelope"></i>   Email</h6><span>{{user?.datas?.email}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ttl-info text-start">
                <h6><i class="fa-solid fa-calendar-days"></i>Inscription</h6><span>{{user?.datas?.created_at | date:'dd/MM/yyyy HH:mm' }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
          <div class="user-designation">
            <div class="title"><a target="_blank" href="">{{user?.datas?.prenom}} {{user?.datas?.nom}}</a></div>
            <div class="desc">{{user?.datas?.Role?.titre}}</div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
          <div class="row">
            <div class="col-md-6" *ngIf="user?.datas?.Role?.type!='super-admin'">
              <div class="ttl-info text-start">
                <h6><i class="fa-solid fa-phone"></i>   Société</h6><span>{{user?.datas?.Societe?.titre}} {{user?.datas?.telephone}}</span>
              </div>
            </div>
            <div class="col-md-6" *ngIf="user?.datas?.Role?.type!='super-admin'">
              <div class="ttl-info text-start">
                <h6><i class="fa fa-location-arrow"></i>   Restaurants</h6>
                <span *ngFor="let resto of user?.datas?.Restaurants; let i = index">
                  {{ resto.nom }}<br>
                  {{ resto.lieu }}<br>
                  {{ resto.heure_debut }}<br>
                  {{ resto.heure_fin }}<br>
                  <span *ngIf="i < user?.datas?.Restaurants.length - 1">, </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="social-media">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="https://accounts.google.com/" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
      </div>
      <div class="follow">
        <div class="row">
          <div class="col-6 text-md-end border-right">
            <div class="follow-num counter" id="count4">25869</div><span>Follower</span>
          </div>
          <div class="col-6 text-md-start">
            <div class="follow-num counter" id="count5">659887</div><span>Following</span>
          </div>
        </div>
      </div>
    </div>
  </div>
