
.to-come{
    background-color: #43b9b1a8 !important;
    border: 1px solid #43b9b17a !important;
    border-radius: 5px;
    color: #ffffff !important;
}
.visited{
    background-color: #acbebd !important;
    border: 1px solid #b3b9b9 !important;
    border-radius: 5px;
    color: #ffffff !important;
}
.current{
    background-color: #43B9B2 !important;
    border: 1px solid #43B9B2 !important;
    border-radius: 5px;
    color: #ffffff !important;
}


.progress-wrapper {
  position: relative;
}

.progress {
  height: 6px;
}

.steps {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 1px;
  width: 100%;
}

.steps button {
  transform: translateY(-50%);
  width: fit-content;
}

.login-main{
    width: 800px;
}
@media (max-width: 480px) {
    
    .login-main{
        width: 100%;
    }
    .steps {
        justify-content: center;
        top: 1px;
        flex-wrap: wrap;
        gap: 15px;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
    .progress-number .progress-wrapper {
        height: 153px;
    }
    .progress-container {
        display: flex;
        justify-content: center;   /* centre horizontalement */
        align-items: center;       /* centre verticalement */
        height: 100vh;             /* prend toute la hauteur écran */
    }

    .progress {             /* responsive */
        transform: translate(0px, 90px) rotate(90deg); /* retourne la barre */
    }
}
.my-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}
.recherche-resto{
    border: 1px solid var(--theme-deafult);
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
    flex: 1 1 auto;
}

.nogap{
    gap:6px;
}

.little-tags span{
    font-size: 12px;
}
.little-tags{
    border: 1px solid var(--gray-60);
    width: fit-content;
    height: 30px;
}
.little-tags label{
    margin: 0px 0px;
    padding: 0px 8px;
}
.features-faq.card .card-body {
    padding: 14px 0px;
}
.restaurant-box{
    border: 1px solid var(--theme-deafult);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  display: block;
}
.card-absolute .card-header {
    z-index: 888;
}
.animated-badge ul li span {
    width: 22px;
    height: 22px;
    top: -11px;
    right: -7px;
    min-width: 22px;
    color: white;
    padding: 2px 7px;
}
.d-flex-end {
    display: flex !important;
    justify-content: flex-end;
}
.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
    letter-spacing: 0.3px;
}
 .login-card {
    background: transparent;
}