<form class="card" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="card-header">
        <h4 class="card-title mb-0">Modifier une catégorie de produit</h4>
        
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                <label class="form-label">Titre <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="titre" placeholder="titre">
                <div *ngIf="formData.get('titre')?.touched && formData.get('titre')?.invalid" class="text-danger">
                    Le titre est invalide
                </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <angular-editor [placeholder]="'Enter text here...'" formControlName="description"  />
                    
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                    <label class="form-label">Actif ? <span class="text-danger">*</span></label>
                    <div>
                         <label class="switch">
                        <input type="checkbox" formControlName="est_actif">
                        <span class="switch-state"></span>
                    </label>
                    </div>
                   
                </div>
            </div>
            

            <div class="col-sm-12 col-md-12">
                <label class="form-label">Société <span class="text-danger">*</span></label>
            
                <ng-select [items]="societes" bindLabel="titre" bindValue="id" [multiple]="false"
                    placeholder="choisir une société" formControlName="societe_id"  />
                    <div *ngIf="formData.get('societe_id')?.touched && formData.get('societe_id')?.invalid" class="text-danger">
                    La sociéte est invalide
                </div>
            </div>
            
             <div class="col-sm-12 col-md-12">
                <label class="form-label">Restaurant <span class="text-danger">*</span></label>
            
                <ng-select [items]="restaurants" bindLabel="nom" bindValue="id" [multiple]="false"
                    placeholder="choisir un restaurant" formControlName="restaurant_id"  />
                    <div *ngIf="formData.get('restaurant_id')?.touched && formData.get('restaurant_id')?.invalid" class="text-danger">
                    Le restaurant est invalide
                </div>
            </div>

        </div>
    </div>

    <div class="card-footer text-end">
        <button class="btn btn-primary" type="submit">modifier</button>
    </div>
</form>