<form class="card" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="card-header">
        <h4 class="card-title mb-0">Ajouter un template</h4>
        
    </div>

    <div class="card-body">
        <div class="row">
            
            <div class="col-sm-12 col-md-12">
                <label class="form-label">Type <span class="text-danger">*</span></label>
            
                <ng-select [items]="type_template_email" bindLabel="name" bindValue="key" [multiple]="false"
                    placeholder="choisir un type" formControlName="type"  />
                    <div *ngIf="formData.get('type')?.touched && formData.get('type')?.invalid" class="text-danger">
                    Le type  est invalide
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <label class="form-label">Section <span class="text-danger">*</span></label>
            
                <ng-select [items]="section_template_email" bindLabel="name" bindValue="key" [multiple]="false"
                    placeholder="choisir une section" formControlName="section"  />
                    <div *ngIf="formData.get('section')?.touched && formData.get('section')?.invalid" class="text-danger">
                    La section est invalide
                </div>
            </div>

            


             <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                    <label class="form-label">texte</label>
                    <angular-editor [placeholder]="'Enter text here...'" formControlName="texte"  />
                </div>
            </div>

           @if(user.datas.Role.priorite==1){

            <div class="col-sm-12 col-md-12">
                <label class="form-label">Société <span class="text-danger">*</span></label>
            
                <ng-select [items]="societes" bindLabel="titre" bindValue="id" [multiple]="false"
                    placeholder="choisir une société" formControlName="societe_id"  />
                    <div *ngIf="formData.get('societe_id')?.touched && formData.get('societe_id')?.invalid" class="text-danger">
                    La sociéte est invalide
                </div>
            </div>
            
             <div class="col-sm-12 col-md-12">
                <label class="form-label">Restaurant <span class="text-danger">*</span></label>
            
                <ng-select [items]="restaurants" bindLabel="nom" bindValue="id" [multiple]="false"
                    placeholder="choisir un restaurant" formControlName="restaurant_id"  />
                    <div *ngIf="formData.get('restaurant_id')?.touched && formData.get('restaurant_id')?.invalid" class="text-danger">
                    Le restaurant est invalide
                </div>
            </div>
            
        }

            
            

            

        </div>
    </div>

    <div class="card-footer text-end">
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>
</form>