<ul class="activity-update" *ngIf="stats">
    
    @for( data of stats.daily_shippings; track data){
        <li class="d-flex align-items-center b-l-{{get_status_class(data?.commande.totalPrice)}}" >
            <div class="flex-grow-1"> <span>{{data?.Restaurant?.nom}}</span>
                <h5>Prix de la commande : {{data?.commande.totalPrice}} €</h5>
                <h6>Client : {{data?.client.nom}} {{data?.client.prenom}}</h6>
                <h6 *ngIf="data?.livreur">Livreur : {{data?.livreur?.nom}} {{data?.livreur?.prenom}}</h6>
            </div>
            <div class="flex-shrink-0"> {{data.date_livraison | date:'dd/MM/yyyy HH:mm'}}</div>
        </li>
    }
</ul>